* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: black;
}

header h2 {
  margin: 10px 20px;
  color: white;
}

header form {
  display: flex;
  align-items: center;
}

form input {
  width: 320px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
  padding-left: 15px;
}

main {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

main section {
  width: 250px;
  height: 300px;
  margin: 20px 10px;
  background: lightslategray;
}

img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

main section h2 {
  font-size: 1.2rem;
  text-align: center;
  color: aliceblue;
}
